file-bangou.txt
__pycache__/JAVInfoGetter.cpython-39.pyc
__pycache__/DataManager.cpython-39.pyc
__pycache__/Executor.cpython-39.pyc
__pycache__/FileNameParser.cpython-39.pyc
__pycache__/getch.cpython-39.pyc
__pycache__/Setting.cpython-39.pyc
db-en.json
